body {
  background-color: #8fb38e;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #205a6f;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #205a6f;
}

form {
  padding: 30px;
  background-color: #f1b5c2;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  background-color: #f1b5c2;
}

.submit-button {
  margin-left: 10px;
  background-color: #205a6f;
  color: white;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #f1b5c2;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #205a6f;
  box-shadow: 0px 4px 30px opx rgba(39, 33, 66, 0.03);
}

.poem strong {
  color: #205a6f;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
